body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #02192e;
}

ul { list-style: none; padding-left: 5px; }
a { color:rgb(255, 255, 255); text-decoration: none; line-height: 2;} 
a:hover{color: #0084ff;}
.bar {
    background-color: #02192e;
    padding:15px;
    border-top: solid 1px #0084ff;
    border-bottom: solid 1px #0084ff;
}
main {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 1rem;
}
.footer {
    min-height: 100px;
    margin-bottom: 25px;
    border-bottom: #0084ff solid 1px;
    border-top: solid 1px #0084ff;
}
.anchors {
    border-left: solid 1px #0084ff;
    padding-left: 15px;
}
.sidebar {
    border-right: solid 1px #0084ff;
    padding: 10%;
}
figure {
    font-size: small;
}
.logo{
    text-align: center  
}
.Artigo p,
.Artigo figcaption{
    color: #ffffff;
} 
h2, h1{
    color:#0084ff;
}
.Artigo h2{
    padding: 35px 0px 15px;
}
.Artigo figure{
    padding-bottom: 20px;
}
.Artigo p{
    padding-top: 10px;
    text-align: justify;
    line-height: 1.5;
}
.Artigo{
    padding-bottom: 25px;
}
.Artigo h1{
    padding: 35px 0px 0px;
    margin: 0%;
    font-size: xx-large;
}
.actived{
    color:#0084ff;
}
header{
    margin-top: 25px;
    border-top: 1px solid #0084ff ;
}
.berries{
    margin-left: 3px;
}
small a{
    color: #ff0000;
    
}
cite{ 
    color: #ffffff;
    text-align: justify;
    padding: 0;
    margin: 0%;
}
footer{
    background-image: url('../images/background\ manga.jpg');
    background-size: 100%;
    background-position: center bottom;
    opacity: 70%;
}

